@import 'vars';
@import 'mixins';
@import 'globals'; 



// header
.mainHeader {
    /*background-image: url(img/coffee-slajd-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;*/
    position: relative;
    hgroup {
        position: absolute;
        top: 50%;
        left: 50%
        transform translate(-50%, -50%);
    }
    img {
        width: 100%;
        display: block;
        object-fit: cover;
        height: 100vh;
    }
    color: $white;
    @include flex($justify: center, $align: center);

}

// ponuda
.ponuda {
    text-align: center;
    margin: auto;
    padding: 100px 0 50px 0;
    .prvi {
        padding: 40px 0 40px 0;
    }
    h2 {
        color: $accents;
    }
   
    hgroup {
        @include flex; 
        padding-top: 20px;
        article {
            width: 30%;
            img {
                border-radius: 50%;
                border: 3px solid $accents;
            }
            h3 {
                padding: 58px 0 10px 0;
            }
        }
    }
}

.meni {
@include flex();
background-color: black;
 div {
    h2 {
        color: $accents;
        text-align: center;
        padding-top: 100px;
    }
    &:first-child{
      flex: 0 0 60%;
      .row {
        padding: 100px;
        @include flex();
        .meni-item {
            @include flex();
            flex: 0 0 50%;
            padding: 25px 10px;
            .img {
                flex: 0 0 40%;
                img {
                    width: 100px;
                    border-radius: 50%;
                }
            }
            .text {
                color: rgb(247, 244, 244);
                flex: 0 0 55%;
                h3 {
                    color: $accents;
                    font-size: 27px;
                }
                p {
                    color: white;
                    padding: 10px 0;
                }
                span {
                    color: $accents;
                    font-weight: bold;
                }
            }
        }
      }
    }
    &:last-child{
     flex: 0 0 40%;
    }
 }
}

// usluge 

.usluge {
    h2 {
     color: $accents;
     & + p {
        padding: 20px 0 76px 0;
        color: $text;
     }
    }
    article {
     @include flex($align: strech);
     div {
        flex: 0 0 50%; 
        &:last-child {
            background-color: antiquewhite;
            padding: 80px 40px;
            h3 {
                color: $accents;
                margin-bottom: 10px;
                font-size: 27px;
            }
        }
     }
     &:nth-child(even) {
        flex-direction: row-reverse;
     }
    }
}




   