@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Amatic SC", sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

a {
  text-decoration: none;
  transition: 0.4s linear;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 111;
}
nav .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .container ul a {
  color: #FACB36;
  margin-left: 30px;
  text-decoration: none;
}
nav .container ul a:hover {
  color: white;
}

.btn {
  padding: 10px 40px;
  display: inline-block;
  margin-top: 15px;
  border-radius: 10px;
}

.btn-yellow {
  background: #FACB36;
  color: #444646;
}

.py {
  padding: 80px 0;
}

img {
  width: 100%;
  display: block;
}

.text-center {
  text-align: center;
  margin: auto;
}

.mainHeader {
  /*background-image: url(img/coffee-slajd-1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;*/
  position: relative;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainHeader hgroup {
  position: absolute;
  top: 50%;
  left: 50% transform translate(-50%, -50%);
}
.mainHeader img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

.ponuda {
  text-align: center;
  margin: auto;
  padding: 100px 0 50px 0;
}
.ponuda .prvi {
  padding: 40px 0 40px 0;
}
.ponuda h2 {
  color: #FACB36;
}
.ponuda hgroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.ponuda hgroup article {
  width: 30%;
}
.ponuda hgroup article img {
  border-radius: 50%;
  border: 3px solid #FACB36;
}
.ponuda hgroup article h3 {
  padding: 58px 0 10px 0;
}

.meni {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.meni div h2 {
  color: #FACB36;
  text-align: center;
  padding-top: 100px;
}
.meni div:first-child {
  flex: 0 0 60%;
}
.meni div:first-child .row {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meni div:first-child .row .meni-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 50%;
  padding: 25px 10px;
}
.meni div:first-child .row .meni-item .img {
  flex: 0 0 40%;
}
.meni div:first-child .row .meni-item .img img {
  width: 100px;
  border-radius: 50%;
}
.meni div:first-child .row .meni-item .text {
  color: rgb(247, 244, 244);
  flex: 0 0 55%;
}
.meni div:first-child .row .meni-item .text h3 {
  color: #FACB36;
  font-size: 27px;
}
.meni div:first-child .row .meni-item .text p {
  color: white;
  padding: 10px 0;
}
.meni div:first-child .row .meni-item .text span {
  color: #FACB36;
  font-weight: bold;
}
.meni div:last-child {
  flex: 0 0 40%;
}

.usluge h2 {
  color: #FACB36;
}
.usluge h2 + p {
  padding: 20px 0 76px 0;
  color: #444646;
}
.usluge article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: strech;
}
.usluge article div {
  flex: 0 0 50%;
}
.usluge article div:last-child {
  background-color: antiquewhite;
  padding: 80px 40px;
}
.usluge article div:last-child h3 {
  color: #FACB36;
  margin-bottom: 10px;
  font-size: 27px;
}
.usluge article:nth-child(even) {
  flex-direction: row-reverse;
}/*# sourceMappingURL=style.css.map */